@use "../base/mixin" as mixin;

.isOpen{
  display: block;
}
.isClose{
  display: none;
}
header.haderCs{
  transform: translateY(-100%);
}
.search_contena_none{
  transform: translateY(-180%);
}
.page_top{
  &.show{
    bottom:100px;
  }
}