@use "../base/mixin" as mixin;
.site_logo{
  font-size: 1.3rem;
}
button{
  width: 5rem;
  padding: 12px 0;
  background: mixin.$color2;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 0.9vw;
}
input,select{
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-radius: 4px;
  background: #fff;
  outline: none;
}

input[type="search"]{
  width: 100%;
}
select{
  width: 100%;
  background: #fff url("/next_hisa/arrow_b.svg") no-repeat center right 4px;
  background-size: 24px;
  padding-right: 30px;
}
.item_list{
  .unit{
    margin-bottom: 30px;
    a{
      display: flex;
      background: #fff url("/next_hisa/arrow_r.svg") no-repeat center right 10px;
      padding: 30px 40px 30px 30px;
      box-sizing: border-box;
      .img{
        margin-right: 20px;
      }
      .txt{
        .name{
          margin-bottom: 20px;
          font-weight: 600;
          font-size: 1rem;
        }
      }
    }
  }
}
.btn_more{
  margin: 60px 0 90px;
  button{
    width: 60%;
    margin: 0 20%;
    padding: 20px 0;
    font-size: 0.9rem;
  }
}
.no_item{
  text-align: center;
  margin-top: 100px;
}
.page_top{
  position: fixed;
  bottom:-1000px;
  right:50px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background: #ccc url("/next_hisa/arrow_t.svg") no-repeat center center;
  background-size: 24px 24px;
  cursor: pointer;
  transition: all  0.6s ease;
}
.load{
  display: none;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align: center;
  background: url("/next_hisa/load.gif") no-repeat center center;
  background-size: 100px;
  &.ver2{
    top:350px;
  }
}
.btn_custom{
  a{
    display: block;
    width: 200px;
    padding: 12px 0;
    margin: 0 auto;
    background: mixin.$color;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 0.9vw;
  }
}
@media screen and (max-width: 768px) {

  .item_list{
    .unit{
      a{
        width: calc(100% - 40px);
        margin: 0 20px;
        display: flex;
        background: #fff url("/next_hisa/arrow_r.svg") no-repeat center right 10px;
        padding: 30px 40px 30px 30px;
        box-sizing: border-box;
      }
    }
  }

}